{{> header }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <span class="text-justify align-middle">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam atque omnis molestiae voluptatem quaerat
            libero illo alias, dolorem dignissimos, veritatis sapiente nesciunt odit et repellat. Reprehenderit commodi
            amet ratione hic?
        </span>
    </div>
    <div class="col-4 text-right">
        <img src="assets/img/nodejs.svg" alt="" class="img-thumbnail mr-1" width="300px">
    </div>
</div>

{{> footer }}